@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


html {

}

header {
    position: sticky;
    top: 0px;
    background-color: rgba(255, 68, 0, .83);
}

nav {
    border-bottom: 3px solid black;
    padding: 16px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 235, 205, .5);
    font-family: 'Roboto Slab', serif;
}

main {
    padding: 16px;
    margin: auto;
}

h1 {
    color: green;
}

.grid-box-display {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 10px;
}

div.hoverbox:hover {
    box-shadow: 5px 5px 2px 2px green;
    transition: box-shadow 0.5s;
    background-color: rgba(205, 110, 0, .5);
}

img {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    color: black;
}

a.main-nav {
    color: white;
}

a.main-nav:hover {
    color: black;
}

tbody tr:nth-child(even) {
    background-color: rgb(197, 194, 194);
}

ol.center_list {
    display: inline-block;
    text-align: left;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    bottom: 0px;
    border-top: 1px solid black;
    background-color: rgba(0, 128, 0, .2);
    text-align: center;
    width: 100%;
    color: black;
}
